<div [ngClass]="{ 'dark text-white-dark': store.semidark }">
    <nav
        class="sidebar fixed bottom-0 top-0 z-50 h-full min-h-screen w-[260px] shadow-[5px_0_25px_0_rgba(94,92,154,0.1)] transition-all duration-300">
        <div class="h-full bg-white dark:bg-[#0e1726]">
            <div class="flex items-center justify-between px-4 py-3">
                <a routerLink="/" class="main-logo flex shrink-0 items-center">
                    <img class="ml-[5px] w-8 flex-none" src="/assets/images/logo.svg" alt="" />
                    <span
                        class="align-middle text-2xl font-semibold ltr:ml-1.5 rtl:mr-1.5 dark:text-white-light lg:inline">VRISTO</span>
                </a>
                <a href="javascript:;"
                    class="collapse-icon flex h-8 w-8 items-center rounded-full transition duration-300 hover:bg-gray-500/10 hover:text-primary rtl:rotate-180 dark:text-white-light dark:hover:bg-dark-light/10"
                    (click)="storeData.dispatch({ type: 'toggleSidebar'})">
                             <icon-carets-down class="m-auto rotate-90" />
                </a>
            </div>
            <ng-scrollbar class="relative !h-[calc(100vh-80px)]" appearance="compact">
                <ul class="relative space-y-0.5 p-4 py-0 font-semibold">
                    <li class="accordion menu nav-item">
                        <button type="button" class="nav-link group w-full"
                            [ngClass]="{ active: activeDropdown.includes('dashboard') }"
                            (click)="toggleAccordion('Dashboard')">
                            <div class="flex items-center">
                                               <icon-menu-dashboard class="shrink-0 group-hover:!text-primary" />

                                <span
                                    class="text-black ltr:pl-3 rtl:pr-3 dark:text-[#506690] dark:group-hover:text-white-dark">
                                    {{ 'dashboard' | translate }}
                                </span>
                            </div>
                            <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('dashboard-admin') }">
                                               <icon-caret-down />
                            </div>
                        </button>
                        <!-- <div [@slideDownUp]="!activeDropdown.includes('dashboard')" class="accordion-content">
                            
                            <ul class="sub-menu text-gray-500">
                                <li>
                                    <a routerLink="/" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}" (click)="toggleMobileMenu()">{{
                                        'dashboard' | translate }}</a>
                                </li>
                                <li>
                                    <a routerLink="/account-admin" routerLinkActive="active"
                                        (click)="toggleMobileMenu()">{{ 'Account' | translate }}</a>
                                </li>
                                <li>
                                    <a routerLink="/product-admin" routerLinkActive="active"
                                        (click)="toggleMobileMenu()">{{ 'Product' | translate }}</a>
                                </li>
                                <li>
                                    <a routerLink="/order-admin" routerLinkActive="active"
                                        (click)="toggleMobileMenu()">{{ 'Order' | translate }}</a>
                                </li>
                                <li>
                                    <a routerLink="/category-admin" routerLinkActive="active"
                                        (click)="toggleMobileMenu()">{{ 'Category' | translate }}</a>
                                </li>
                                <li>
                                    <a routerLink="/brand-admin" routerLinkActive="active"
                                        (click)="toggleMobileMenu()">{{ 'Brand' | translate }}</a>
                                </li>
                                <li>
                                    <a routerLink="/blog-admin" routerLinkActive="active"
                                        (click)="toggleMobileMenu()">{{ 'Blog' | translate }}</a>
                                </li>
                                <li>
                                    <a routerLink="/service-admin" routerLinkActive="active"
                                        (click)="toggleMobileMenu()">{{ 'Service' | translate }}</a>
                                </li>
                            </ul>
                        </div> -->
                        
                    </li>
                    <li class="accordion menu nav-item">
                        <ul>
                            <li class="nav-item">
                                <a routerLink="/account-admin" class="group" routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <div class="flex items-center">
                                        <icon-menu-chat class="shrink-0 group-hover:!text-primary" />
                    
                                        <span class="text-black ltr:pl-3 rtl:pr-3 dark:text-[#506690] dark:group-hover:text-white-dark"
                                            >{{ 'Account' | translate }}</span
                                        >
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/product-admin" class="group" routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <div class="flex items-center">
                                        <icon-menu-mailbox class="shrink-0 group-hover:!text-primary" />
                    
                                        <span class="text-black ltr:pl-3 rtl:pr-3 dark:text-[#506690] dark:group-hover:text-white-dark"
                                            >{{ 'Product' | translate }}</span
                                        >
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/order-admin" class="group" routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <div class="flex items-center">
                                        <icon-menu-todo class="shrink-0 group-hover:!text-primary" />
                    
                                        <span class="text-black ltr:pl-3 rtl:pr-3 dark:text-[#506690] dark:group-hover:text-white-dark"
                                            >{{ 'Order' | translate }}</span
                                        >
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/category-admin" class="group" routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <div class="flex items-center">
                                        <icon-menu-notes class="shrink-0 group-hover:!text-primary" />
                    
                                        <span class="text-black ltr:pl-3 rtl:pr-3 dark:text-[#506690] dark:group-hover:text-white-dark"
                                            >{{ 'Category' | translate }}</span
                                        >
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/brand-admin" class="group" routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <div class="flex items-center">
                                        <icon-menu-scrumboard class="shrink-0 group-hover:!text-primary" />
                    
                                        <span class="text-black ltr:pl-3 rtl:pr-3 dark:text-[#506690] dark:group-hover:text-white-dark"
                                            >{{ 'Brand' | translate }}</span
                                        >
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/blog-admin" class="group" routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <div class="flex items-center">
                                        <icon-menu-contacts class="shrink-0 group-hover:!text-primary" />
                    
                                        <span class="text-black ltr:pl-3 rtl:pr-3 dark:text-[#506690] dark:group-hover:text-white-dark"
                                            >{{ 'Blog' | translate }}</span
                                        >
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/logout" class="group" routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <div class="flex items-center">
                                        <icon-logout class="shrink-0 group-hover:!text-primary" />
                    
                                        <span class="text-black ltr:pl-3 rtl:pr-3 dark:text-[#506690] dark:group-hover:text-white-dark"
                                            >{{ 'Log Out' | translate }}</span
                                        >
                                    </div>
                                </a>
                            </li>
                            </ul>
                    </li>
                </ul>
                <ul>
               
            </ul>
            </ng-scrollbar>
        </div>
    </nav>
</div>