<div class="container">
  <div class="header">
    <h1>View All brands</h1>
    <div class="address-bar">
      <span>Admin/

      </span>
        </div>
    <div class="tool-bar">
      <input type="text" class="search-bar" placeholder="Search for..."  />
      <button class="create-button" (click)="openAddNewBrandModal()">Create New Brand</button>
    </div>
  </div>
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 5%;"><input type="checkbox" (click)="toggleSelectAll()"></th>
          <th style="width: 10%;">ID</th>
          <th style="width: 15%;">Image</th>
          <th style="width: 30%;">Name</th>
          <th style="width: 20%;">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let brand of brands">
          <td><input type="checkbox" [(ngModel)]="brand.selected"></td>
          <td>{{ brand.id }}</td>
          <td><img [src]="brand.image" alt="{{ brand.name }}" class="thumbnail"></td>
          <td>{{ brand.name }}</td>
          <td>
            <button class="icon-button view-button" (click)="viewBrand(brand.id)">
              <i class="bi bi-eye"></i> View
            </button>
            <button class="icon-button edit-button" (click)="editBrand(brand.id)">
              <i class="bi bi-pencil"></i> Edit
            </button>
            <button class="icon-button delete-button" (click)="deleteBrand(brand.id)">
              <i class="bi bi-trash"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination">
    <button class="arrow-button" (click)="prevPage()">
      <svg fill="#007bff" height="10px" width="10px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 330 330" xml:space="preserve">
        <path id="XMLID_92_" d="M111.213,165.004L250.607,25.607c5.858-5.858,5.858-15.355,0-21.213c-5.858-5.858-15.355-5.858-21.213,0.001
          l-150,150.004C76.58,157.211,75,161.026,75,165.004c0,3.979,1.581,7.794,4.394,10.607l150,149.996
          C232.322,328.536,236.161,330,240,330s7.678-1.464,10.607-4.394c5.858-5.858,5.858-15.355,0-21.213L111.213,165.004z"/>
      </svg>
    </button>
    <button class="page-number">
      {{ currentPage }}
    </button>
    <button class="arrow-button" (click)="nextPage()">
      <svg fill="#007bff" height="10px" width="10px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 330.002 330.002" xml:space="preserve">
        <path id="XMLID_103_" d="M233.252,155.997L120.752,6.001c-4.972-6.628-14.372-7.97-21-3c-6.628,4.971-7.971,14.373-3,21
          l105.75,140.997L96.752,306.001c-4.971,6.627-3.627,16.03,3,21c2.698,2.024,5.856,3.001,8.988,3.001
          c4.561,0,9.065-2.072,12.012-6.001l112.5-150.004C237.252,168.664,237.252,161.33,233.252,155.997z"/>
      </svg>
    </button>
  </div>
</div>

<app-add-new-brand
  [brand]="selectedBrand"
  [modalTitle]="modalTitle"
  [isVisible]="showAddNewBrandModal"
  (save)="saveBrand($event)"
  (close)="closeModal()">
</app-add-new-brand>

<app-detail-brand
  [brand]="selectedBrand"
  [modalTitle]="modalTitle"
  [isVisible]="showDetailBrandModal"
  (close)="closeModal()">
</app-detail-brand>
<app-update-brand
  [brand]="selectedBrand"
  [modalTitle]="modalTitle"
  [isVisible]="showUpdateBrandModal"
  (save)="saveBrand($event)"
  (close)="closeModal()">
</app-update-brand>

<app-delete-brand
  [brand]="selectedBrand"
  [modalTitle]="modalTitle"
  [isVisible]="showDeleteBrandModal"
  (delete)="confirmDelete($event)"
  (close)="closeModal()">
</app-delete-brand> 
